.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: minmax(50px, auto);
    gap: 33px;
    grid-template-areas: 
    "header header"

    "footer footer";
}

.grid-item-1{
    grid-area: header;
}

.grid-item-7{
    grid-area: footer;
}